<h1>Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Status</th>
      <th>Week Starting</th>
      <th>Confirmed At</th>
    </tr>
  </thead>
  <tbody id="audit_logs">
  		<%= render @audit_logs %>
  </tbody>
</table>

<div id="paginator">
	<%= paginate @audit_logs, remote: true %>
</div>