<div class="container-fluid">
	<div class="row">
		<div class="col-md-5 jumbotron employee-blocks">
			asdf
		</div>

		<div class="col-md-5 jumbotron employee-blocks">
			asdf
		</div>
	</div>
</div>