<h1>Posts</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Overtime Request</th>
      <th>Date</th>
      <th>Rationale</th>
      <th>User</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	
  		<%= render @posts %>
   
  </tbody>
</table>

<%= paginate @posts %>